<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519292716504-6e78jjksi6jdmq8aspki59av47hcb3vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519292716504-6e78jjksi6jdmq8aspki59av47hcb3vk</string>
	<key>API_KEY</key>
	<string>AIzaSyCoyPKYEpuNfT-H3PyvpRHJ4B_Oqd9JiAU</string>
	<key>GCM_SENDER_ID</key>
	<string>519292716504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-eab9a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-eab9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519292716504:ios:6b15d4e58f13f1e809dead</string>
</dict>
</plist>